<footer id='footer' class='fixed-bottom bg-dark'>
  <ul class="footer-menu">
    <li class="footer-item"><%= link_to '利用規約', page_path('about') %></li>
	<li class="footer-item"><%= link_to 'プライバシーポリシー', page_path('policy') %></li>
  </ul>
  <div class='container text-center'>
    <div class='copyright'>
      <p>© 2023 Chord Tune</p>  
    </div>
  </div>
</footer>