<header>
  <nav class="navbar navbar-expand-lg navigation navbar-light bg-light">

    <%= link_to root_path, class: 'navbar-brand' do %>
    <% end %>

    <button class='navbar-toggler' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto main-nav align-items-center">
        <li class="nav-item">
          <%= button_to 'ログアウト', logout_path, class: 'nav-link', method: :delete %>
        </li>
        <li class="nav-item">
          <%= link_to 'ブックマーク一覧', bookmarks_posts_path %>
        </li>
      </ul>
    </div>
  </nav>
</header>