<div class="help_page">
  <h1>コード譜の作り方</h1>
    <p>歌詞と一緒にコード譜を書くことでコード譜を作成できます。</p>
    <p>コードの入力はコードチェンジしたい歌詞の前に書きます。</p>
  <h4>以下注意点</h4>
    <div class="help_ul">
      <ul>
	    <div class="help_li">
          <li>コードは[]で囲うことでコードとして認識されます ※[Cadd9][G/B] etc...</li>
          <li>何も囲まなければ歌詞や文字として認識されます</li>
          <li>コードのルート音は必ず大文字で記入してください ※Cm7 Dadd9 etc...</li>
		</div>
      </ul>
	</div>
  <h4>記入例</h4>
    <div class="help_ul">
      <ul>
	    <div class="help_li">
          <li>[C]カフェオー[G]レが飲み[Am]たいの[C]</li>
	      <li>イントロ [F][C][G][Am] Aメロ[Am7][FM7][Cadd9][G/B] サビ[F][G][Em][Am]</li>
		</div>
      </ul>
	</div>
</div>