@import "top";
@import "posts";
@import "pages";
@import "bootstrap";

*{
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	padding-bottom: 64px;
	box-sizing: border-box;
}

.nav-item {
	margin: 0px 3px 0px 3px;
}

.foot-wrapper {
	position: sticky;
	bottom: 0;
	padding-bottom: 30px;
}

.footer-menu {
	text-align: center;
	color: white;
}

.footer-item {
	display: inline-block;
	color: white;
	text-decoration: none;

	.about_page {
		color: white;
		text-decoration: none;
	}
}

.copyright {
	color: white;
}