.top-wrapper {
  background-image: image-url('chord_tune_demo3.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

  .top-inner-text {
	width: 100%;
	padding: 5%;
	color: white;
  }

  .top-form {
	padding: 7%;
  }
}